<html>

<head>


<style>


body {text-align: center; background-color: lightblue;}


</style>



 <title>UC Berkeley Alumni Network</title>
 <meta charset="utf-8">

   <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library: Supports Javascript Plugins -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <h1 style = "color: blue;"> UC Berkeley Alumni Network</h1>

  <p style = "border: 3px solid Gold;"> Welcome to UC Berkeley's Alumni Network Page! Select from the options below:</p>



   <div class="col-sm-3">
     <form method="GET" action="/openings">
      <label for="search">Find Openings by Profession Type</label>
        <select id="opening" name="opening">
            {% for ui_row in data %}
            <option value="{{ui_row.menu}}">{{ui_row.menu}}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Submit" />
    </form>
  </div>



  <div class="col-sm-3">
    <form method="GET" action="/salary">
     <label for="search">Find Average Salary by Profession Type</label>
       <select id="salary" name="salary">
           {% for ui_row in data %}
           <option value="{{ui_row.menu}}">{{ui_row.menu}}</option>
           {% endfor %}
         </select>
       <input type="submit" value="Submit" />
   </form>
   </div>


   <br>
  <div class="col-sm-6">
  <form method="GET" action="/company">
    <label for="search">Find out who works where</label>
    <input id="search" name="search" class="form-control" type="text" /><br />
  </form>

 </div>

 <br>

 </div>

 <br>


</body>

</html>
